<h1>Add your Origin ID</h1>

<div class='row'>
	<div class='span6 offset3'>
		<%= form_for(@player) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.submit 'Whitelist Me', class: 'btn btn-large btn-primary' %>
		<% end %>
	</div>
</div>